body {
  font-family: 'Arial', sans-serif; 
  background-color: #f9f9f9; 
  margin: 0;
}


.container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 20px; 
}

.con {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px; 
  background-color: #fff; 
}


.mx-5 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-5 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.border {
  border-radius: 10px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

.flex {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.hidden-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.hidden-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.show {
  opacity: 1;
  transform: translateX(0); 
}

.flex-wrap {
  flex-wrap: wrap; 
}

.rounded-lg {
  border-radius: 10px; 
}

.p-5 {
  padding: 20px; 
}

.my-2 {
  margin: 10px 0; 
}

h1 {
  font-size: 80px;
  color: #0f0f0f; 
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center; 
  margin-bottom: 20px; 
}

h4{
  font-size: 22px;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  line-height: 1.6;
  color: #666; 
  font-size: 1.1rem; 
}

img {
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

img:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.flex.border {
  background: linear-gradient(145deg, #ffffff, #e6e6e6); 
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
  .mx-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  h1 {
    font-size: 1.8rem; /* Adjust heading size for smaller screens */
  }

  .flex {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .w-full {
    max-width: 100%; /* Ensure full width on smaller screens */
  }

  p {
    font-size: 1rem; /* Adjust paragraph size for smaller screens */
  }
}
