.insights-container {
    padding: 70px;
    max-width: 1200px;
    margin: auto;
    font-family: 'Poppins', sans-serif; 
    /* background: linear-gradient(to left, rgb(141, 0, 191), rgb(94, 0, 138)); */
    /* background-color: #ffffff; */
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
   
}

.insi{
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,98,135,1) 100%, rgba(81,247,170,1) 100%);
 */
 /* background-color: #FAEBD7; */
 background: linear-gradient(to left, rgb(170, 153, 244), rgb(167, 246, 220));
}
h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #2c3e50; 
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-weight: 600;  */
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background: linear-gradient(to left, rgb(170, 153, 244), rgb(167, 246, 220)); */
    gap: 25px; 
}


.chart {
    flex: 1;
    min-width: 300px;
    max-width: 400px; 
    margin: 10px;
    padding: 25px; 
    border: none; 
    border-radius: 12px; 
    background: linear-gradient(145deg, #f8f9fa, #e9ecef); 
    /* background: linear-gradient(to left, rgb(220, 145, 247), rgb(240, 222, 248)); */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.chart:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); 
}


.chart h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem; 
    color: #34495e; 
    font-weight: 500; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.chart text {
    font-size: 20px; 
    fill: #333; 
    font-weight: bold;
}

.platform-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; 
}


.platform-selector label {
    margin-right: 15px;
    font-size: 1.3rem; 
    color: #2c3e50; 
    font-weight: 500; 
    
}


.platform-selector select {
    padding: 10px 15px; 
    font-size: 1.1rem;
    border: 2px solid #5ec2e9; 
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s; 
}



.platform-selector select:focus {
    border-color: #0056b3; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}


@media (max-width: 768px) {
    .charts-container {
        flex-direction: column; 
        align-items: center; 
    }
}
