body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  /* background-color: rgb(38, 239, 243); */
  background-color: #ECF0F1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-toggle button {
  width: 50%;
  padding: 10px;
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px 10px 0 0;
}

.form-toggle .active {
  background-color: #033452;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form button {
  padding: 10px;
  background-color: #033452;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 8%;
  cursor: pointer;
}

.form a {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: right;
}

.form p {
  text-align: center;
}

.hidden-left, .hidden-right {
  opacity: 0;
  transform: translateX(-200px); 
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.hidden-right {
  transform: translateX(200px); 
}

.show {
  opacity: 1;
  transform: translateX(0);
}

body {
  overflow-x: hidden;
}

.form select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
}

.form select:focus {
  outline: none;
  border-color: #033452;
  box-shadow: 0 0 5px rgba(3, 52, 82, 0.5);
}

.form1 {
  padding: 10px;
}
